.header {
  padding: 22px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .logo {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    flex: 1;
    color: var(--color-primary);
    span {
      font-size: 8px;
      margin-left: 0.3rem;
    }
  }
  &__pagination {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 600;
    span {
      color: var(--color-primary)
    }
  }
}
